<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784052499963-qgcsuj8ba2a8ghrlhtlq1j3sg78i0pcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784052499963-qgcsuj8ba2a8ghrlhtlq1j3sg78i0pcv</string>
	<key>API_KEY</key>
	<string>AIzaSyDNg0EYswLUe68h-uH4HqcmIjyuTxTMv3E</string>
	<key>GCM_SENDER_ID</key>
	<string>784052499963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>michele.propertyManger</string>
	<key>PROJECT_ID</key>
	<string>propertymanager-7c1c9</string>
	<key>STORAGE_BUCKET</key>
	<string>propertymanager-7c1c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784052499963:ios:ce5968cd66c5875c2a475e</string>
	<key>DATABASE_URL</key>
	<string>https://propertymanager-7c1c9.firebaseio.com</string>
</dict>
</plist>